/* Estilos CSS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:url("../img/biblioteca7.jpg") ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta central  */
.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 450px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#resultado {
    font-size: 18px;
    font-weight: bold;
}
